main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.DealerKort, .SpillerKort {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.Overskrift {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}

.Kort-Container > div > div > img {
    height: 150px;
}

#Spiller {
    margin-top: 50px;
}

#SpillerPoengscore, #DealerPoengscore {
    margin-top: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

/* BUTTONS NEDENFOR  */

.Btn-Container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Btn-Container > div:first-child > button:first-child {
    background-color: red;
    color: white;
}

.Btn-Container > div:last-child > button:last-child {
    background-color: green;
    color: white;
}

.Btn-Container > div > button {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Lato', sans-serif;
}

.Btn-Container > div > button:hover {
    cursor: pointer;
}

#Utskrift {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}