/* https://cdn.dribbble.com/userupload/10005338/file/original-fb26a9afc9a219eb5647b82767d57036.png?resize=752x */


body {
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
.signup {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-container {
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 500px;
    height: 630px;
}

.header-container {
    position: relative;
    left: 45px;
}

.header-container > p {
    font-family: 'Lato', sans-serif;
    font-size: 27px;
}

.header-container > p:last-child {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    position: relative;
    top: -10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    position: relative;
    left: 45px;
}

.input-container > div {
    font-family: 'Lato', sans-serif;
}

.input-container > div > input {
    width: 400px;
    height: 28px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.regBtn {
    margin-top: 40px;
    
    position: relative;
    left: 105px;
    
    text-align: center;
    line-height: 250%;

    height: 40px;
    width: 300px;

    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background: rgb(3,132,235);
    background: radial-gradient(circle, rgba(3,132,235,1) 5%, rgba(27,158,232,1) 55%, rgba(51,188,232,1) 100%);
    
    display: flex;
    justify-content: center;
    
    border: 0px solid;
    border-radius: 12px;
}

